<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9546D24DC1587924A97D7B64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9546D5AC5B71E51176095854</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9546D80F338AFEC4079AB7F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
